// Entry point for your Sass build

.container {
  display: flex;
  justify-content: center;
  row-gap: 40px;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;

  &-title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 50px;
    color: #36006C;
  }

  &-description {
    max-width: 754px;
    font-family: 'Roboto';
    color: black;
    opacity: 0.54;
  }

  &-footer {
    margin: 10vh 10vw;
    max-width: 754px;
    font-family: "Roboto";
    color: black;
    opacity: 0.54;
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      width: 40%;
      margin: 5vh 0;
      align-self: center;
    }

    .form_item {
      display: flex;
      justify-content: space-between;

      .button {
        all: unset;
        width: 150px;
        height: 30px;
        background-color: #36006C;
        border-radius: 5px;
        text-align: center;
        color: white;
      }

      &:last-child {
        display: flex;
        justify-content: center;
        margin-top: 2.5vh;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.game {
  display: flex;
  margin: 35px;
  flex-direction: column;

  &-title {
    text-align: center;
    font-family: 'Montserrat';
    font-family: 21px;
  }

  &-body {
    display: flex;;
    flex-direction: row;
    column-gap: 31px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;
    padding: 46px 88px;
    transition: background-color 0.5s ease-in-out;


    &:hover {
      background-color: #f8f8f8;
    }

    &__img {
      width: 63px;
      height: 139px;
    }

    &__name {
      text-align: center;
      font-family: 'Montserrat';
      color: #36006C;
      font-size: 24px;
    }
  }
}

/*
.background-modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 492px;
  height: 591px;
  background: white;
  box-shadow: 0px 0px 40px #0000001A;
  border-radius: 5px;
  padding: 57px 70px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 32px;
    color: #36006C;
  }

  &__description {
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    opacity: 0.54;
  }

  &__error {
    color: tomato;
  }

  &__image {
    width: 70px;
    height: 161px;
    margin: 50px 0;
  }

  &__button {
    all: unset;
    width: 350px;
    height: 73px;
    background-color: #36006C;
    border-radius: 5px;
    text-align: center;
    color: white;
  }
}

